<section id="Sobre">
    <div class="container">
        <div class="img-container"></div>
            <div class="texto">
                <h2>Sobre Nosotros</h2>
                <p>¡Bienvenidos a Web-Recetas!

                    Somos un apasionado equipo de entusiastas de la cocina con un amor profundo por la comida deliciosa y la exploración culinaria. Nuestra misión es compartir nuestras recetas favoritas, trucos de cocina y consejos útiles para que puedas disfrutar de una experiencia culinaria excepcional en la comodidad de tu hogar.
                </p>
            </div>
    </div>
</section>
