header{
    background-color: rgb(228, 221, 190);
}

header .logo{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    margin: 0;
    text-shadow: 5px 10px 1px  rgb(194, 149, 82);
    display: flex;
    justify-content: center;
}

header a{
    text-align: center;
    padding: 10px;
    align-items: center;
    color: rgb(139, 89, 32);
    align-items: center;
    font-family:'Bebas Neue', sans-serif;
}

header a:hover{
    background-color: whitesmoke;
}

header nav{
    flex-direction: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1px;
    margin-right: auto;
    

}

header ul {
    list-style: none;
    display: flex;  /* Muestra los elementos en una fila horizontal */
    padding: 0;     /* Elimina el relleno predeterminado de la lista */
    justify-content: center;
  }


